.audiobookCarousel{
  margin-block: 2.125rem;

  & > .audiobookCarousel__container{
    & > .audiobookCarousel__header{
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 1.25rem;

      & > .audiobookCarousel__title{
        color: var(--secondary-color);

        font-size: 2rem;
        font-weight: 500;
      }

      & > div{
        display: flex;
        gap: .875rem;

        & > button{
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: var(--quaternary-color);
          border-radius: 1.25rem;

          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
}