.footer{
  color: var(--quinary-color);

  width: 100%;

  padding: 1rem;
  /* margin-top: 1.75rem; */

  text-align: center;
  font-size: 1rem;
  font-weight: 500;

  & > .footer__copyright{
    display: inline-flex;
    align-items: center;
    gap: .375rem;
  
    margin-top: .75rem;
  }
}