.footer{
  width: 100%;

  padding: 2rem 1rem;
  margin-top: 1.75rem;

  text-align: center;

  & > p{
    color: var(--second-special-light-color);

    font-weight: 500;
    font-size: 1rem;

    & > .link{
      color: var(--link-color);

      text-decoration: none;
    }
  }
}