.filter {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 1.75rem;

  display: flex;
  align-items: stretch;
  gap: .125rem;

  &>span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}