.filter{
    color: var(--secondary-color);

    font-weight: 500;
    font-size: 1.5rem;

    display: flex;

    &>span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}