.filter {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 1.75rem;

  display: flex;
  align-items: stretch;
  gap: .125rem;

  &>span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .filter{
    align-items: center;
    gap: .375rem;
    font-size: 2rem;
  }
}