.InputSearch{
  background-color: var(--senary-color);
  border-radius: .75rem;
  outline: none;
  color: var(--tertiary-color);

  padding: .5rem .75rem;

  width: 78%;
  height: 2.25rem;

  font-size: 1.125rem;

  &::placeholder {
    background: url("../../../assets/search.svg") no-repeat right / contain;
    color: var(--tertiary-color);
    opacity: .6;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .InputSearch{
    width: auto;
  }
}