.home__banner {
  box-shadow: 0 .25rem .375rem 0 var(--first-box-shadow-color);
  border-radius: 0 2rem 0 2rem;

  text-align: center;

  position: relative;

  &>.banner__container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--banner-color);
    box-shadow: 0 -.25rem .375rem 0 var(--second-box-shadow-color);
    border-radius: 0 2rem 0 2rem;

    padding-block: 2rem;
    padding-inline: 1.5rem;

    min-height: 12.875rem;

    &>.openBookDesktop {
      display: none;
    }

    &>h1 {
      max-width: 26.75rem;

      color: var(--first-special-color);

      font-size: 2rem;
      font-weight: 700;

      margin-bottom: 1rem;
    }

    &>.openBookMobile {
      position: absolute;
      bottom: -2rem;
      right: 0;

      margin-right: 1.375rem;
    }
  }
}

.home__filter {
  margin-top: 2.5rem;
  margin-bottom: 1.75rem;

  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.home__audiobooks {
  &>.audiobooks__container {
    &>h2 {
      color: var(--second-special-color);

      font-weight: 500;
      font-size: 2rem;
      letter-spacing: .1rem;

      display: flex;
      align-items: center;
      gap: .625rem;

      margin-bottom: 1.125rem;
    }

    &>.audiobooks__listenMore {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 1.75rem;

      &>.listenMore__line {
        width: 35%;
        height: .125rem;

        flex-grow: 1;

        background-color: var(--second-special-color);
      }

      &>span {
        width: 45%;
        max-width: 7.1875rem;

        border: .125rem solid var(--second-special-color);
        border-radius: .5rem;

        padding-inline: .625rem;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;

        font-size: 1rem;
        font-weight: 500;

        color: var(--second-special-color);
      }
    }
  }
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .home__banner {
    &>.banner__container {
      min-height: 14.375rem;

      &>h1 {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home__banner {
    &>.banner__container {
      justify-content: space-between;

      padding: 1rem;

      &>.openBookDesktop {
        display: block;
      }

      &>.openBookMobile {
        display: none;
      }

      &>.openBookDesktop:nth-child(3) {
        transform: rotateY(180deg);
      }
    }
  }
}