.home{
  & > .home__banner{
    background-color: var(--banner-light-color);
    border-radius: 0 2rem 0 2rem;
    box-shadow: 0 -.25rem .375rem 0 #F1D0B3CC;

    text-align: center;

    padding-block: 2rem;
    padding-inline: 1.5rem;

    position: relative;

    & > h1{
      color: var(--first-special-light-color);

      font-size: 2rem;
      font-weight: 700;

      margin-bottom: 1.25rem;
    }

    & > img{
      position: absolute;
      left: 14rem;
      bottom: -2rem;
    }
  }
}