.login__title{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;

  color: var(--primary-color);

  margin-bottom: 1rem;
}

.login__form{  
  margin-block: 3rem;
}

.login__forgot{
  display: block;

  color: var(--octonary-color);

  margin-top: .625rem;
  margin-bottom: 1.875rem;

  font-size: 1.25rem;
  font-style: italic;
}

.login__footer{
  text-align: right;

  & > .login__paragraph{
    color: var(--primary-color);
  }

  & > .login__button{
    background-color: var(--quaternary-color);
    border-radius: .625rem;
    color: var(--primary-color);

    font-size: 1.25rem;
    font-weight: 700;

    padding: .5rem 1.125rem;
    margin-top: .75rem;
  }
}