.login__title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;

  color: var(--first-special-color);

  margin-bottom: 1rem;
}

form{
  margin-top: 3rem;
  margin-bottom: 1.75rem;
}

p.login__paragraph{
  color: var(--first-special-color);
}