.header{
  padding: 1rem 1rem 1.5rem 1rem;

  & > .header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div{
      display: flex;
      gap: 1.25rem;

      & > .header__button{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--quaternary-color);

        width: 2.25rem;
        height: 2.25rem;
      
        &.openSearch{
          border-radius: 50%;
        }
  
        &.openMenu{
          border-radius: .375rem;
        }
      }
    }
  }
}

.search{
  background: var(--septenary-color);

  width: 100%;
  min-height: 7.5rem;

  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 1.5625rem 1rem 1.5rem 1rem;

  & > input{
    background-color: var(--senary-color);
    border-radius: .75rem;
    outline: none;
    color: var(--tertiary-color);

    flex: 1;

    position: relative;

    padding: .5rem .75rem;

    height: 2.25rem;

    font-size: 1.125rem;

    &::placeholder{
      background: url("../../../assets/search.svg") no-repeat right / contain;
      color: var(--tertiary-color);
      opacity: .6;
    }
    &::-webkit-search-cancel-button{
      -webkit-appearance: none;
      appearance: none;
      display: none;
    }
  }
}

.buttonClose{
  background-color: var(--senary-color);
  border-radius: .375rem;

  width: 2.25rem;
  height: 2.25rem;

  & > svg{
    vertical-align: middle;
  }
}

.menu{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  width: 100%;
  height: auto;
  width: 320px;

  min-height: 14.25rem;

  padding: 1.5625rem 1rem 1.5rem 1rem;

  background: var(--secondary-gradient);
  border-radius: 0 0 0 1.25rem;
}

.menu__header{
  display: flex;
  justify-content: end;
  align-items: center;

  margin-bottom: 2rem;

  & > a{
    color: var(--primary-color);

    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;

    margin-right: 1.25rem;
  }    
}

.menu__body{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  & > .fontInput{
    display: flex;
    align-items: center;
  }

  & a, label{
    color: var(--tertiary-color);

    font-size: 1.5rem;
    font-weight: 500;
  }

  & input{
    border-radius: .625rem;
    background-color: var(--septenary-color);
    color: var(--primary-color);

    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;

    width: 3rem;
    min-height: 2.25rem;

    margin-left: .625rem;
  }
}