.header{
  padding: 1rem 1rem 1.5rem 1rem;

  & > .header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div{
      display: flex;
      gap: 1.25rem;

      & > .header__button{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--quaternary-color);

        width: 2.25rem;
        height: 2.25rem;
      
        &.openSearch{
          border-radius: 50%;
        }
  
        &.openMenu{
          border-radius: .375rem;
        }
      }
    }
  }
}

.menu{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  width: 100%;
  height: auto;
  width: 320px;

  min-height: 14.25rem;

  padding: 1.5625rem 1rem 1.5rem 1rem;

  background: var(--secondary-gradient);
  border-radius: 0 0 0 1.25rem;
}

.menu__header{
  display: flex;
  justify-content: end;
  align-items: center;

  margin-bottom: 2rem;

  & > a{
    color: var(--primary-color);

    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;

    margin-right: 1.25rem;
  }

  & > button{
    background-color: var(--senary-color);
    border-radius: .375rem;

    width: 2.25rem;
    height: 2.25rem;

    & > svg{
      vertical-align: middle;
    }
  }
}

.menu__body{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  & > .fontInput{
    display: flex;
    align-items: center;
  }

  & a, label{
    color: var(--tertiary-color);

    font-size: 1.5rem;
    font-weight: 500;
  }

  & input{
    border-radius: .625rem;
    background-color: var(--neutral-light-color);
    color: var(--primary-color);

    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;

    width: 3rem;
    min-height: 2.25rem;

    margin-left: .625rem;
  }
}