.header{
  padding: 1rem 1rem 1.5rem 1rem;

  &.headerBoxShadow{
    box-shadow: 0 0 1rem var(--primary-shadow);
  }

  & > .header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div{
      display: flex;
      gap: 1.25rem;
      align-items: center;

      & > .header__button{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--quaternary-color);

        width: 2.25rem;
        height: 2.25rem;
      
        &.openSearch{
          border-radius: 50%;
        }
  
        &.openMenu{
          transition: all .3s ease-in-out;
          border-radius: .375rem;
        }
      }
    }

    & .navbar{
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .header{
    & > .header__container{
      & > div{
        & > .header__button{
          &.openSearch{
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header{
    .header__container{
      & .navbar{
        display: block;

        & > ul{
          display: flex;
          gap: 1.25rem;

          & a.navbar__link,
          & button.navbar__link{
            text-transform: capitalize;
            margin-right: .75rem;
          }
        }
      }

      & .header__button{
        &.openMenu{
          display: none;
        }
      }
    }
  }
}