.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  width: 20rem;
  height: auto;
  min-height: 13rem;

  padding: 1.5625rem 1rem 1.5rem 1rem;

  background: var(--secondary-gradient);
  border-radius: 0 0 0 2rem;
}

.menu__header {
  display: flex;
  justify-content: end;
  align-items: center;

  margin-bottom: 2rem;

  & > button,
  & > a{
    text-transform: uppercase;
  }
}

.menu__body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  & a {
    color: var(--tertiary-color);

    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .menu{
    display: none;
  }
}