.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 5.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;

  border: .25rem solid var(--senary-color);
  border-radius: .75rem;
  background-color: var(--primary-color);

  min-width: 20rem;
  min-height: 7.5rem;
  max-width: 26.75rem;

  & > span {
    color: var(--quaternary-color);
    font-size: 1.25rem;
    font-weight: 700;
  }

  & > button{
    color: var(--senary-color);
    border: .125rem solid var(--senary-color);
    border-radius: .75rem;

    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    padding: .5rem;

    transition: all .3s ease-in-out;
    &:focus,
    &:hover{
      outline: none;
      border: .125rem solid var(--senary-color);
      background-color: var(--senary-color);
      color: var(--primary-color);
    }
  }
}