.listening{
  background-color: var(--quinary-color);
  color: var(--primary-color);

  width: 100%;
  min-height: 5rem;
  padding: 1.25rem;

  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.infos{
  width: 10.0625rem;

  display: none;
  flex-direction: column;
  gap: .125rem;

  & > span{
    overflow: hidden;

    font-size: 1.125rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;

    max-width: 10.0625rem;
  }
}

.controls{
  width: min(100%, 30rem);

  display: flex;
  flex-direction: column;
  gap: .75rem;
  
  & > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
  }
}

.volume{
  display: none;
  align-items: center;
  gap: .5rem;

  & > button{
    display: flex;
  }
}

.progressBar,
.volumeBar{
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 1rem;
  background: var(--septenary-color);
  opacity: .6;

  width: 100%;

  transition: opacity .3s ease-in-out;
  &:hover{
    opacity: 1;
  }

  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--secondary-color);
    border-radius: 0 1rem 1rem 0;
    border: .125rem solid var(--secondary-color);
    box-shadow: -100vw 0 0 99.5vw var(--secondary-color);

    height: .5rem;
    width: .5rem;
  }
  &::-moz-range-thumb{
    appearance: none;
    background: var(--secondary-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    width: 1.25rem;
    height: 1.25rem;
  }
  &::-ms-thumb{
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    
    width: 1.25rem;
    height: 1.25rem;
  }
  &::-moz-range-progress{
    background: var(--secondary-color);
    border-radius: 1.25rem;
    height: .5rem;
  }
  &::-ms-fill-lower{
    background: var(--secondary-color);
    border-radius: 1.25rem;
    height: .5rem;
  }
}

@media screen and (min-width: 1024px) {
  .listening{
    justify-content: space-between;
  }

  .infos,
  .volume{
    display: flex;
  }
}