.audiobook{
  outline: none;
  &:focus > img{
    -webkit-box-shadow: 0 0 .75rem .0625rem var(--secondary-color);
    -moz-box-shadow: 0 0 .75rem .0625rem var(--secondary-color);
    box-shadow: 0 0 .75rem .0625rem var(--secondary-color);
  }

  & > .audiobook__title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    line-height: 1.5;

    color: var(--secondary-color);
  }

  & > img{
    width: 100%;
    cursor: pointer;

    &:hover{
      -webkit-box-shadow: 0 0 .75rem .0625rem var(--secondary-color);
      -moz-box-shadow: 0 0 .75rem .0625rem var(--secondary-color);
      box-shadow: 0 0 .75rem .0625rem var(--secondary-color);
    }
  }
}

.audiobook__footer{
  display: flex;
  justify-content: space-between;

  margin-top: .75rem;

  & .audiobook__parentalRating{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--quaternary-color);
    border-radius: .375rem;
    color: var(--primary-color);

    font-size: 1.125rem;
    font-weight: 700;

    width: 1.75rem;
    height: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .audiobook__footer{
    margin-top: .75rem;

    & > .bookMark{
      width: 2.5rem;
      height: 2.5rem;

      & > svg{
        width: 100%;
        height: 100%;
      }
    }

    & > .parentalRatingDesktop{
      font-size: 1.5rem;

      width: 2.5rem;
      height: 2.5rem;
    }
  }
}