@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  list-style: none;
}

:root {
  /* COLORS */
  --link-color: #4A91B9;
  --neutral-bg-color: #FFF;
  --neutral-txt-color: #000;
  --body-gradient-color: linear-gradient(180deg, #EDCDAF80 0%, #F9F2E6 50%, #EDCDAF80 100%);
  --chapters-bg-color: #EECBAC;
  --current-chapter-bg-color: #F5BA86;
  --search-bg-color: #EECBAC;
  --btn-bg-color: #EECBAC;
  --parental-raiting-bg-color: #EECBAC;
  --parental-raiting-color: #5B3B1D;
  --btn-bg-color-focus: #BF844D;
  --icon-color: #BF844D;
  --copyright-color: #BF844D;
  --audio-bg-color: #35210F;
  --txt-color: #35210F;
  --menu-bg-color: linear-gradient(180deg, #F4D6B9 0%, #FFB26A 100%);
  --menu-btn-bg-color: #E9B281;
  --first-special-color: #5B3B1D;
  --second-special-color: #69421D;
  --third-special-color: #90643C;
  --fourth-special-color: #BB6618;
  --placeholder-color: #35210F;
  --book-mark-color: #69421D;
  --banner-color: #FCEBDC;
  --first-box-shadow-color: #F1D0B3;
  --second-box-shadow-color: #F1D0B3CC;

  /* TYPOGRAPHY */
  --logo-title-font: "Baskervville", serif;
  --default-font: "EB Garamond", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-bg-color: #000;
    --neutral-txt-color: #FFF;
    --body-gradient-color: linear-gradient(180deg, #5B3B1D 0%, #5C3B1D, #5B3B1D 100%);
    --chapters-bg-color: #8A5F36;
    --current-chapter-bg-color: #B5865A;
    --search-bg-color: #4A2E14;
    --btn-bg-color: #4A2E14;
    --btn-bg-color-focus: red;
    --audio-bg-color: #B27C4A;
    --menu-bg-color: linear-gradient(180deg, #8A5F36 0%, #D48F50 100%);
    --menu-btn-bg-color: #4A2E14;
    --first-special-color: #EECBAC;
    --second-special-color: #E0B083;
    --third-special-color: #F5BA86;
    --placeholder-color: #F9F2E6;
    --book-mark-color: #BF844D;
    --banner-color: #80562E;
    --first-box-shadow-color: #4A2E14;
    --second-box-shadow-color: #4A2E14;
    --txt-color: #F9F2E6;
  }
}

html,
body {
  width: 100%;
  height: auto;
  min-height: 100vh;

  font-family: var(--default-font);

  background: var(--body-gradient-color);
}

div#root {
  width: 100%;
  height: auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  font-family: var(--default-font);

  background: none;

  cursor: pointer;
}

img {
  vertical-align: top;
}

.main {
  width: 100%;

  flex-grow: 1;
}

.container {
  width: 100%;

  padding: 1rem;
}

.display-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  gap: 1rem;
}

.paragraph {
  color: var(--txt-color);

  line-height: 1.5;
  font-weight: 500;
  font-size: 1.25rem;
}

.link {
  color: var(--link-color);

  text-decoration: none;
}

.secondary-header{
  padding: 1.75rem;
}

.secondary-logo {
  width: 4.5rem;
}

.secondary-container{
  width: 100%;
  
  padding: 1.25rem 1.75rem 1.75rem 1.75rem;
}