@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  list-style: none;

  font-family: var(--default-font);
}

:root {  
  /* COLORS */
  --link-color: #4A91B9;
  --neutral-light-color: #FFF;
  --neutral-dark-color: #000;
  --primary-gradient: linear-gradient(180deg, #EDCDAF80 0%, #F9F2E6 50%, #EDCDAF80 100%);
  --secondary-gradient: linear-gradient(180deg, #F4D6B9 0%, #FFB26A 100%);
  --tertiary-gradient: linear-gradient(180deg, #F1D0B3 0%, #F9AB75 100%);
  --primary-shadow: #F1D0B3;
  --secondary-shadow: #F1D0B3CC;
  --tertiary-shadow: #BB6618;
  --quaternary-shadow: #A36B3B;
  --primary-color: #5B3B1D;
  --secondary-color: #69421D;
  --tertiary-color: #35210F;
  --quaternary-color: #EECBAC;
  --quinary-color: #BF844D;
  --senary-color: #F5BA86;
  --septenary-color: #FCEBDC;
  --octonary-color: #90643C;

  /* TYPOGRAPHY */
  --default-font: "EB Garamond", serif;

  /* BACKGROUND */
  --bg-login: url('./assets/light-bg-login.png') no-repeat center / cover fixed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #87CCf5;
    --primary-gradient: linear-gradient(180deg, #7E5226 0%, #5C3B1D, #7E5226 100%);
    --secondary-gradient: linear-gradient(180deg, #8A5F36 0%, #D48F50 100%);
    --tertiary-gradient: linear-gradient(180deg, #7A4B20 0%, #5B3B1D 56.5%);
    --primary-shadow: #4A2E14;
    --secondary-shadow: #4A2E14;
    --tertiary-shadow: #503217;
    --quaternary-shadow: #503217;
    --primary-color: #EECBAC;
    --secondary-color: #E0B083;
    --tertiary-color: #F5E5D7;
    --quaternary-color: #4A2E14;
    --quinary-color: #2E1600;
    --senary-color: #4A2E14;
    --septenary-color: #80562E;
    --octonary-color: #F5E5D7;

    /* BACKGROUND */
    --bg-login: url('./assets/dark-bg-login.png') no-repeat center / cover fixed;
  }
}

html, body {
  width: 100%;
  height: auto;
  min-height: 100vh;

  background: var(--primary-gradient);
}

div#root {
  width: 100%;
  height: auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  font-family: var(--default-font);
  background: none;
  cursor: pointer;
}

img {
  vertical-align: top;
}

a{
  text-decoration: none;
}

.primary-navbar-link{
  color: var(--primary-color);

  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;

  margin-right: 1.25rem;
}

.main {
  width: 100%;

  flex-grow: 1;
}

.container {
  width: min(100%, 81.25rem);
  padding: 1rem;
  margin-inline: auto;
}

.secondary-header{
  padding: 1.75rem;
}

.secondary-logo {
  border-radius: 50%;
  width: 4.5rem;
}

.secondary-container{
  width: min(100%, 25rem);
  margin-inline: auto;
  padding: 1.25rem 1.75rem 1.75rem 1.75rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.display-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.button-close{
  background-color: var(--senary-color);
  border-radius: .375rem;

  width: 2.25rem;
  height: 2.25rem;

  & > svg{
    vertical-align: middle;
  }
}

.submit{
  display: block;

  background-color: var(--quaternary-color);
  border-radius: .625rem;
  color: var(--primary-color);

  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;

  min-width: 14.125rem;

  margin-inline: auto;
  padding-block: .625rem;
}

.paragraph {
  color: var(--tertiary-color);

  line-height: 1.5;
  font-weight: 500;
  font-size: 1.25rem;
}

.link {
  color: var(--link-color);
}

.input-search--fgrow{
  flex-grow: 1;
}

.input-group{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.label{
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

.input{
  background-color: var(--secondary-shadow);
  border-radius: .5rem;
  border: .0938rem solid transparent;
  outline: none;
  color: var(--tertiary-color);

  height: 2.75rem;
  padding: .625rem;

  font-size: 1.125rem;

  /* &:focus-within{
    border-color: var(--first-special-color);
  } */
  &::placeholder{
    color: var(--tertiary-color);
    opacity: .6;

    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  .container{
    padding-inline: 2rem;
  }

  .display-grid {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .page-account{
    display: flex;
    align-items: center;

    background: var(--bg-login);

    padding-inline: 2.75rem;
    padding-block: 2rem;

    height: auto;
    min-height: 100vh;
  }

  .secondary-header{
    padding: 0;
  }

  .secondary-logo {
    box-shadow: 0 .25rem .25rem 0rem var(--tertiary-shadow);

    position: absolute;
    top: 0;
    right: 0;

    margin: 1.5rem 1.75rem 0 0;
  }  

  .secondary-container{
    background: var(--tertiary-gradient);
    box-shadow: 0 .25rem .625rem 0 var(--quaternary-shadow);
    border-radius: .625rem;

    width: min(100%, 30rem);

    margin-inline: initial;
    padding: 1.25rem 1.75rem 1.75rem 1.75rem;
  }
}

@media screen and (min-width: 1440px) {
  .container{
    padding-inline: 0;
  }
}