@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  list-style: none;
}

:root{
  /* GENERAL COLORS */
  --link-color: #4A91B9;
  --neutral-bg-color: #FFF;
  --neutral-txt-color: #000;

  /* LIGHT THEME */
  --body-bg-light-color: #F9F2E6;
  --chapters-bg-light-color: #EECBAC;
  --current-chapter-bg-light-color: #F5BA86;
  --search-bg-light-color: #EECBAC;
  --btn-bg-light-color: #EECBAC;
  --parental-raiting-bg-light-color: #EECBAC;
  --btn-bg-light-color-focus: #BF844D;
  --icon-light-color: #BF844D;
  --copyright-light-color: #BF844D;
  --audio-bg-light-color: #35210F;
  --menu-txt-light-color: #35210F;
  --menu-bg-light-color: #F4D6B9;
  --menu-btn-bg-light-color: #E9B281;
  --first-special-light-color: #5B3B1D;
  --second-special-light-color: #69421D;
  --third-special-light-color: #90643C;
  --fourth-special-light-color: #BB6618;
  --placeholder-light-color: #35210F;
  --book-mark-light-color: #69421D;
  --banner-light-color: #FCEBDC;
  --first-box-shadow-light-color: #F1D0B3;
  --second-box-shadow-light-color: #F1D0B3CC;
  --body-gradient-light-color: linear-gradient(180deg, #EDCDAF80 0%, #F9F2E6  50%, #EDCDAF80 100%);

  /* DARK THEME */


  /* TYPOGRAPHY */
  --logo-title-font: "Baskervville", serif;
  --default-font: "EB Garamond", serif;
}


html, body{
  width: 100%;
  height: auto;
  min-height: 100vh;

  font-family: var(--default-font);

  background: var(--body-gradient-light-color);
}

div#root{
  width: 100%;
  height: auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main{
  width: 100%;

  flex-grow: 1;
}

.container{
  width: 100%;

  padding: 1rem;
}

button{
  font-family: var(--default-font);

  background: none;
}

img{
  vertical-align: top;
}

.display-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.link{
  color: var(--link-color);

  text-decoration: none;
}