.details__container {
  max-width: 68.75rem;
  text-align: center;

  & .details__name{
    color: var(--primary-color);

    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  & .details__author{
    display: inline-block;

    color: var(--secondary-color);

    font-size: 1.25rem;
    font-weight: 500;

    margin: .25rem 0 1.5rem 0;
  }

  & .col_a{
    max-width: 23.75rem;
    margin-inline: auto;
  }

  & .details__synopsis{
    max-width: 37.5rem;
    margin: 2rem auto;
  }

  & .details__listen{
    display: block;

    background-color: var(--quaternary-color);
    border-radius: .625rem;
    color: var(--primary-color);
  
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;

    width: 12.5rem;
    height: 3.75rem;

    margin: 3rem auto 2.5rem auto;
  }

  & .details__download{
    display: block;
    font-size: 1.5rem;
    text-align: center;
  }
}

.details__chapters{
  text-align: left;

  & > .chapters__title{
    color: var(--secondary-color);

    font-size: 1.625rem;
    font-weight: 500;

    margin-top: 2.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .details__container > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'col-a col-b--row-a'
    'col-a col-b--row-b';

    text-align: left;
    
    margin-top: 2rem;
    justify-content: center;

    & > .col_a{
      margin-inline: 0;
      
      width: 80%;
      max-width: none;
      grid-area: col-a;
    }

    & > .col_b__row_a{
      grid-area: col-b--row-a;
      align-self: end;

      & > .details__author{
        margin-bottom: 0;
      }
    }

    & > .col_b__row_b{
      grid-area: col-b--row-b;
      align-self: start;

      & > .details__synopsis{
        max-width: none;
        margin: 1.25rem 0;
      }
    }

    & .bookMark{
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .details__chapters{
    text-align: center;
  }
}