.details__container {
  max-width: 68.75rem;
  text-align: center;

  & .details__name{
    color: var(--primary-color);
    margin-top: 1.5rem;

    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
  }

  & .details__yearpublication{
    color: var(--secondary-color);
    opacity: .7;
    display: block;

    line-height: 1.5;
  }

  & .details__author{
    display: inline-block;

    color: var(--secondary-color);

    font-size: 1.25rem;
    font-weight: 500;

    margin-top: .25rem;
  }

  & .details__genre{
    display: flex;
    gap: 1.25rem;

    margin: 1.25rem 0 1.375rem 0;

    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }

    & > span{
      background-color: var(--quaternary-color);
      border-radius: 1rem;
      color: var(--secondary-color);
      
      font-size: 1.125rem;
      font-weight: 500;
      padding: .5rem 1rem;

      display: flex;
      align-items: center;
    }
  }

  & .col_a{
    max-width: 23.75rem;
    margin-inline: auto;
  }

  & .details__synopsis{
    max-width: 37.5rem;
    margin: 2rem auto;
  }

  & .details__listen{
    display: block;

    background-color: var(--quaternary-color);
    border-radius: .625rem;
    color: var(--primary-color);
  
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;

    width: 12.5rem;
    height: 3.75rem;
    margin: 3rem auto 1.75rem auto;

    &:hover{
      border: .125rem solid var(--primary-color);
    }
    &:active{
      filter: brightness(1.2);
    }
  }

  & .details__download{
    display: block;
    font-size: 1.5rem;
    text-align: center;

    width: fit-content;
    margin-inline: auto;
  }
}

.details__chapters{
  max-width: 31.25rem;
  margin: 0 auto 2rem auto;
  text-align: left;

  & > .chapters__title{
    color: var(--secondary-color);

    font-size: 2rem;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    gap: .25rem;

    transition: scale .3s;
    &:hover{
      scale: 1.1;
    }
  }
}

.chapters__container{
  margin-top: 1.25rem;

  & > .chapters__list{
    display: grid;
  }
}

@media screen and (min-width: 450px) {
  .details__container {
    & .details__genre{
      justify-content: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .details__chapters{
    max-width: 68.75rem;
    text-align: center;
  }
  
  .chapters__container{
    margin-top: 2rem;
  
    & > .chapters__list{
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      gap: 2.5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .details__container > .details__audiobook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'col-a col-b--row-a'
    'col-a col-b--row-b';

    text-align: left;
    
    margin-top: 2rem;
    justify-content: center;

    & > .col_a{
      margin-inline: 0;
      
      width: 80%;
      max-width: none;
      grid-area: col-a;
    }

    & > .col_b__row_a{
      grid-area: col-b--row-a;
      align-self: end;

      & .details__name{
        margin-top: 0;
      }

      & .details__yearpublication{
        display: inline;
        margin-left: 1rem;
        line-height: initial;
      }

      & > .details__author{
        margin-bottom: 0;
      }

      & > .details__genre{
        justify-content: start;
        flex-wrap: wrap;
        margin-bottom: 0;
      }
    }

    & > .col_b__row_b{
      grid-area: col-b--row-b;
      align-self: start;

      & > .details__synopsis{
        max-width: none;
        margin: 1.25rem 0;
      }
    }
  }

  .details__chapters{
    margin-bottom: 1.5rem;
  }
}