.chapter{
  display: flex;
  justify-content: space-between;
  transition: all .3s ease-in-out;

  padding: .875rem .75rem;

  & > button{
    color: var(--tertiary-color);
    font-weight: 500;
    font-size: 1.25rem;

    transition: all .3s ease-in-out;
    &:hover{
      scale: 1.1;
      font-weight: 700;
    }
  }

  & > a{
    font-size: 1.125rem;

    &:hover{
      font-weight: 500;
    }
  }
}

.active{
  background-color: var(--septenary-color);
  border-radius: .5rem;
}

@media screen and (min-width: 768px) {
  .chapter{
    flex-direction: column;
    align-items: center;
    gap: .625rem;
  }
}