.register__title{
  color: var(--primary-color);

  font-size: 2.75rem;
  font-weight: 500;

  margin-top: 1rem;
}

.register__form{
  width: min(100%, 25rem);

  margin: 2rem auto 1rem auto;
}

.register__submit{
  margin-top: 2.75rem;
  border: .125rem solid transparent;

  transition: border-color .3s;
  &:hover{
    border-color: var(--primary-color);
  }
}

.register__footer{
  text-align: left;
  margin-top: 2rem;

  & > .register__paragraph{
    color: var(--primary-color);
  }

  & > .register__button{
    background-color: var(--quaternary-color);
    border-radius: .625rem;
    border: .125rem solid transparent;
    color: var(--primary-color);

    font-size: 1.25rem;
    font-weight: 700;

    padding: .5rem 1.125rem;
    margin-top: .75rem;

    transition: border-color .3s;
    &:hover{
      border-color: var(--primary-color);
    }
  }
}